.layout {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    transition: transform 0.3s ease;
}

.main-content {
    flex: 1;
    display: flex;
    background-color: #fff2f2;
    flex-direction: column;
    overflow-y: auto;
}

.page-content {
    margin-left: 240px;
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
